services:
  db:
    image: postgres:16-alpine
    container_name: todo-db
    environment:
      POSTGRES_USER_FILE: /run/secrets/db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_DB: mydb
    secrets:
      - db_user
      - db_password
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$(cat /run/secrets/db_user) -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  adminer:
    image: adminer:latest
    container_name: todo-adminer
    ports:
      - "8081:8080"
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "php", "-r", "if(file_get_contents('http://localhost:8080')) exit(0); else exit(1);"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
  
  backend:
    build: ./backend
    container_name: todo-backend
    secrets:
      - db_user
      - db_password
    # ports:
    #   - "5003:5000"  # add this to test backend from the cli locally 
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http:/localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
  
  frontend:
    build: ./frontend
    container_name: todo-frontend  
    ports:
      - "8080:8080"
    networks:
      - app-network
    depends_on:
      backend:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "python", "-c", "import requests; requests.get('http://localhost:8080')"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:

secrets:
  db_user:
    file: ./secrets/db_user.txt
  db_password:
    file: ./secrets/db_password.txt
    
